body{
  background-color: #ececec;
  //background-color: #00030f;
  background-image: url("../media/3px-tile.png");
}

.card-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    padding: .8rem 1.25rem 1.25rem;
}

.card{
    text-align: center;
    margin: 3px;
    .title{
      font-size: 1.5rem;
    }
    .price{
      color: #00cfff;
    }
    .idHidden{
      font-size: 0px;
      margin: 10px 0 0 10px;
    }
}

input[type=checkbox] {
  display: none;
}

:checked+svg {
  border: 1px solid rgba(204, 204, 204, 0);
}

.favStar{
  width: 1.5rem;
  //fill: rgb(180, 180, 180)t;
}

.favStarChecked{
  width: 1.5rem;
  fill: #ffc107;
  
}

.search{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 1.2rem;
    #searchField{
      width: auto;
    }
}

#searchField{
  color: white;
  background-color:#3b3e42;
  &::placeholder{
    color:rgb(202, 202, 202);
  }
}

.dropdown-menu{
  min-width: 3.2rem;
  text-align: center;

  a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: none;
      color: rgb(0, 39, 212);
    }
  }
}
  
.modal{
  height:auto;
}

  .modal-header {
    border: none;
    .close {
      margin-top: -1.5rem;
    }
  }

  .modal-footer {
    border: none;
  }
  
  .form-title {
    margin: -2rem 0rem 2rem;
  }
  
  .btn-round {
    border-radius: 3rem;
  }

  #okButton{
    width: 29%;
  }
  
 #userProfile{
    font-size: 1.1rem;
    .profileImg{
        width: 2rem;
        max-width: 40px;
        color: white;
    }
 } 

 .w-auto{
   width: auto;
 }


 .modal-dialog {
  max-width: 360px;
 }

  .modal-content {
    padding: 1rem;
  }
  
 